<div class="view-header row">
	<div class="container">
		<h1>Beware</h1>
		<h2>Loose ground afoot!</h2>
	</div>
</div>
<div class="container">
	<div class="jumbotron">
		<div class="row marketing">
			<p class="lead">
				O hello there! This is a prototype trying out how to use Linked Data from various sources and show us useful insights, and thus not meant to make real strategic decisions with.
			</p>
			<p><a class="btn btn-lg btn-success" ng-href="#/topics/">Got it!<span class="glyphicon glyphicon-ok"></span></a></p>
		</div>
	</div>
</div>